@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


@theme {
  --color-primary: #ffffff ;
  --color-secondary: #171717 ;
  --color-logo: #00aeef ;
  --color-primary-font: #000 ;
  --color-secondary-font: #666 ; 
}